In [1]:
print("Hello")

Hello

In [2]:
import sys
def X():
    return 1

In [3]:
X()

1

In [4]:
import pandas as pd

In [5]:
arr = [0]*10
pd.DataFrame(arr)

   0
0  0
1  0
2  0
3  0
4  0
5  0
6  0
7  0
8  0
9  0