In [1]:
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
from functions.grid_baseline1 import run

In [3]:
run('gender', 'pan13_en')

Dataset: pan13_en and task: gender

training set:  (236600, 5)
gender
female    118300
male      118300
dtype: int64

test set:  (21200, 5)
gender
female    10600
male      10600
dtype: int64

Performing grid search...
Pipeline steps: ['vect', 'tfidf', 'clf']
[LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear]done in 53988.80s and 899.8min

Best score: 0.613
Best parameters set:
	clf__C: 1000
	clf__max_iter: 1500
	clf__penalty: 'l2'
	vect__max_df: 1.0
	vect__max_features: None


             precision    recall  f1-score   support

          0       0.60      0.51      0.55     10600
          1       0.57      0.66      0.61     10600

avg / total       0.58      0.58      0.58     21200

Accuracy 0.5825943396226415
F1_score 0.5803306716142984
[[5397 5203]
 [3646 6954]]
(21200, 1) (21200,)
Error plotting ROC curve


+ ------------------------------------------------------------ +

In [ ]:
run('gender', 'pan13_es')

Dataset: pan13_es and task: gender

training set:  (236600, 5)
gender
female    118300
male      118300
dtype: int64

test set:  (21200, 5)
gender
female    10600
male      10600
dtype: int64

Performing grid search...
Pipeline steps: ['vect', 'tfidf', 'clf']
[LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear]

In [8]:
df = getDatasets('age','df')

In [9]:
df

,dataset_name,path,task,training,test
0,b5post,/home/rafael/drive/Data/Dataframe/b5post,age,age_pt_training_df.csv,age_pt_test_df.csv
1,esic,/home/rafael/drive/Data/Dataframe/esic,age,age_pt_training_df.csv,age_pt_test_df.csv
2,brmoral,/home/rafael/drive/Data/Dataframe/brmoral,age,age_pt_training_df.csv,age_pt_test_df.csv
3,enblogs,/home/rafael/drive/Data/Dataframe/enblogs,age,age_en_training_df.csv,age_en_test_df.csv
4,brblogset,/home/rafael/drive/Data/Dataframe/brblogset,age,age_pt_training_df.csv,age_pt_test_df.csv
5,pan13_en,/home/rafael/drive/Data/Dataframe/pan13_en,age,gender_age_en_training_df.csv,gender_age_en_test1_df.csv
6,pan13_es,/home/rafael/drive/Data/Dataframe/pan13_es,age,gender_age_es_training_df.csv,gender_age_es_test1_df.csv